server:
  port: 8080
  forward-headers-strategy: framework
app:
  fontend-url: "http://localhost:3000"
  ngrok:
    fontend-url-public: "https://real-unlikely-mastiff.ngrok-free.app"

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mood_diary
    username: root
    password: 123456
  jpa:
    hibernate:
      #ddl-auto: create-drop
      ddl-auto: update
    show-sql: true
    open-in-view: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile,email
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
        provider:
          google:
            authorization-uri: "https://accounts.google.com/o/oauth2/v2/auth"
            token-uri: "https://oauth2.googleapis.com/token"
            user-info-uri: "https://www.googleapis.com/oauth2/v3/userinfo"
            user-name-attribute: "sub"
jwt:
  signerKey: ${JWT_SIGNER_KEY}
  valid-duration: 86400
  refreshable-duration: 3000000

